<style>
* {
  margin: 0; padding: 0; box-sizing: border-box; /* reset */
}
html, body {
    width: 100%; /* specify width on parent */
}
.container {
    width: 100%
}
button {
    width: 19%; /* make the children equal */
    height: 32px;
    background-color: #d5000d;
    border-width: 2px;
    border-color: crimson;
}
</style>

<header class="site-header">
  <div id="header" class="header">
    <nav>
      <ul class="horizontal-menu">
        <button class="button"><a href="{{site.baseurl}}/" style="color: white">Home</a></button>
        <button class="button"><a href="{{site.baseurl}}/blogs" style="color: white">Blogs</a></button>
        <button class="button"><a href="{{site.baseurl}}/schedule" style="color: white">Schedule</a></button>
        <button class="button"><a href="{{site.baseurl}}/about" style="color: white">About</a></button>
        <button class="button"><a href="{{ site.github.repository_url }}#readme" style="color: white">View On GitHub</a></button>
      </ul>
    </nav>
  </div><!-- end header -->
</header>